@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0f172a] text-white;
}

nav ul {
  box-shadow: 0 0 15px rgba(0, 162, 255, 0.4);
}

.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotateY-180 {
  transform: rotateY(180deg);
}

@keyframes scrollX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollXReverse {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}


@keyframes gridMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 60px;
  }
}

.animate-grid {
  animation: gridMove 10s linear infinite;
}

@keyframes glow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-glow {
  background-size: 200% 200%;
  animation: glow 4s ease infinite;
}

.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes orbit {
  0%   { top: 0%; left: 0%; transform: translate(-50%, -50%); }
  25%  { top: 0%; left: 100%; transform: translate(-50%, -50%); }
  50%  { top: 100%; left: 100%; transform: translate(-50%, -50%); }
  75%  { top: 100%; left: 0%; transform: translate(-50%, -50%); }
  100% { top: 0%; left: 0%; transform: translate(-50%, -50%); }
}

.orbit-glow {
  position: absolute;
  width: 20px;
  height: 80px;
  background: #3b82f6; /* Tailwind blue-500 */
  border-radius: 50%;
  filter: blur(20px);
  animation: orbit 8s linear infinite;
  z-index: 0;
  opacity: 0.6;
}

